
.font{
box-shodow:2px 10px 1px 10px #00ffd5;
}

.back:hower{
box-shadow:2px 10px 1px 10px #00ffd5;
}

.nav>nav-links{
font-family:cursive;
font-weight:bold;
}
/* ===================================welcomepage========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive, 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}

.welcomebackgroud {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.welcome-container {
    text-align: center;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    font-size: 24px;
    font-weight: 600;
    border-radius: 50%;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    opacity: 1;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

button {
    width: 100px;
    height: 100px;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    padding: 15px 30px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 1;
}

button:hover {
    background-color: #000000;
}


#video-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    /* z-index: -1; */
}

#content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 100px;
    color: #fff;
}

.welcome-heading {
    position: absolute;
    z-index: 2;
    color: #fff;
    top: 55vh;
    font-size: 2.5rem;
    text-align: center;
}

.welcome-text {
    position: absolute;
    z-index: 2;
    color: #fff;
    top: 64vh;
    font-style: italic;
    /* font-size: 2.5rem; */
    /* text-align: center; */
}

.logo {
    width: 20rem;
    position: absolute;
    z-index: 2;
    top: 1vh;
    /* color: #fff; */
    /* top: 25vh; */
    /* font-style: italic; */
}

.vidback2{
    display: none;
}

@media(max-width:700px){
    .vidback{
        display: none;
    }

    .vidback2{
        display: block;
    }
}



/* ===================================homepage==================================== */

.homepage .navbar {
    width: 90%;
    margin-left: 5%;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    backdrop-filter: blur(10px);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    width: 100%;
    /* background-color: #000; */
    /* border: 1px solid red; */
    position: relative;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    /* display: inline;
    float: right;
    font-size: 18px; */
    display: flex;
    gap: 1rem;
    /* align-items: center; */
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #1ecece;
    font-size: 1.2rem;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}

@media (max-width:700px) {

    .homepage .navbar {
        width: 100%;
        margin-left: 0%;
        z-index: 10;
    }

    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 2rem;
        top: 2rem;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
        cursor: pointer;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #000;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 120px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
        text-align: center;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: 100vh;
        overflow-y: auto;
    }
}

.homepage img {
    width: 120px;
    height: 120px;
}

.homepage .nav-links a {
    transition: all 0.5s;
}

.homepage .nav-links:hover a {
    transform: scale(1.5);
    opacity: 0.2;
    filter: blur(1px);
}

.homepage .nav-links a:hover {
    transform: scale(1.5);
    opacity: 1;
    filter: blur(0);
    text-decoration: none;
    color: #fff;
}

.homepage .nav-links a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1ecece;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
}

.homepage .nav-links a:hover:before {
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}

@media (max-width:700px) {
    .homepage .nav-links:hover a {
        transform: none;
        opacity: 1;
        filter: blur(0);
    }

    .homepage .nav-links a:hover {
        transform: scale(1);
        opacity: 1;
        filter: blur(0);
        text-decoration: none;
        color: #fff;
    }

    .homepage .nav-links a:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #1ecece;
        transition: 0.5s;
        transform-origin: right;
        transform: scaleX(0);
        z-index: -1;
    }

    .homepage .nav-links a:hover:before {
        transition: transform 1s;
        transform-origin: none;
        transform: scaleX(0);
    }



    .vidback{
        display: block;
    }
}




/* =======================main-contetn============================ */
.top_content {
    width: 100%;
    height: 100vh;
    /* position: relative; */
    /* top: 40vh; */
    color: #00ffd5;
    font-size: 4.4vw;
    display: flex;
    justify-content:left;
    align-items:end;
    text-align: center;
}

.top_content h1{
    margin-left: 5rem;
}

.top_content img{
    width: 30rem;
    height: auto;
}

@media(max-width:700px) {

    .top_content {
        width: 100%;
        height: 100vh;
        /* position: relative; */
        /* top: 40vh; */
        color: #00ffd5;
        font-size: 4.4vw;
        display: flex;
        justify-content:center;
        align-items:center;
        text-align: center;
        font-size: 8vw;
    }

    .top_content h1{
        margin-left: 0rem;
    }

    .top_content img{
        width: 19rem;
        height: auto;
    }
}

.mid_content {
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    position: relative;
    height: fit-content;
    /* top: 100vh; */
}

.mid_main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mid_text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 45%;
    color: #eee;
}

.mid_text h2 {
    font-size: 2.5rem;
}

.mid_intro img {
    position: relative;
    width: 35rem;
    height: 25rem;
}

.mid_intro video {
    position: absolute;
    right: 5.6rem;
    top: 1.2rem;
    width: 29.5rem;
    height: 16rem;
    z-index: 11;
    padding-left: 90px;
}

@media(max-width:1000px) {
    .mid_content {
        width: 100%;
        margin-left: 0%;
        /* position: absolute;
        top: 100vh; */
    }

    .mid_main {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .mid_text {
        width: 70%;
    }
}

@media(max-width:450px) {
    .mid_intro img {
        position: relative;
        width: 21rem;
        height: 15rem;
    }

    .mid_intro video {
        position: absolute;
        right: 3.3rem;
        top: 0.9rem;
        width: 20rem;
        height: 9.2rem;
        /* z-index: 11; */
        padding-left: 90px;
    }
}




/* ===============================esports================================ */

*,
*:before,
*:after {
    box-sizing: border-box;
}

.events{
    height: fit-content;
    position: relative;
    /* top: 110vh; */
}

.e_sports {
    /* height: fit-content;
    position: relative;
    top: 110vh; */
    width: 100%;
    color: #00ffd5;
    overflow: hidden;
}

@media(max-width:1000px) {
    .e_sports {
        top: 200vh;
    }
}

.content {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.heading {
    width: 100%;
    margin-left: 1rem;
    font-weight: 900;
    font-size: 1.618rem;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    line-height: 1;
    padding-bottom: 0.5em;
    margin-bottom: 1rem;
    position: relative;
}

.heading:after {
    display: block;
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
    bottom: 0;
}

.description {
    width: 100%;
    margin-top: 0;
    margin-left: 1rem;
    margin-bottom: 3rem;
}

.card {
    color: inherit;
    cursor: pointer;
    width: calc(33% - 2rem);
    min-width: calc(33% - 2rem);
    height: 400px;
    min-height: 400px;
    perspective: 1000px;
    margin: 1rem;
    position: relative;
}

@media screen and (max-width: 800px) {
    .card {
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 500px) {
    .card {
        width: 100%;
    }
}

.front,
.back {
    display: flex;
    border-radius: 6px;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;
}

.front {
    background-size: cover;
    padding: 2rem;
    font-size: 1.618rem;
    font-weight: 600;
    color: #fff;
    overflow: hidden;
    font-family: Poppins, sans-serif;
}

.front:hover {
    box-shadow: 5px 5px 5px 5px #00ffd5;
}


/* .front:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
    opacity: 0.25;
    z-index: -1;
} */

.card:hover .front {
    transform: rotateY(180deg);
}

.card:nth-child(even):hover .front {
    transform: rotateY(-180deg);
}

.back {
    background: #171414;
    transform: rotateY(-180deg);
    padding: 0 2em;
}

.back .button {
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
}

.back .button:before {
    box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
    background-color: rgba(26, 87, 230, 0.25);
}

.back:hover {
    box-shadow: 10px 10px 10px #00ffd5;
    /* width: 100%; */
}

.card:hover .back {
    transform: rotateY(0deg);
}

.card:nth-child(even) .back {
    transform: rotateY(180deg);
}

.card:nth-child(even) .back .button {
    background: linear-gradient(135deg, #e61a80, #e61a3c);
}

.card:nth-child(even) .back .button:before {
    box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
    background-color: rgba(230, 26, 60, 0.25);
}

.card:nth-child(even):hover .back {
    transform: rotateY(0deg);
}

.button {
    width: auto;
    height: auto;
    transform: translateZ(40px);
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: bold;
    color: #fff;
    padding: 0.5em 1em;
    font: inherit;
    border: none;
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    transition: 300ms ease;
}

.button:hover {
    box-shadow: 2px 2px 8px #00ffd5;
}



/* =================footer============================================== */
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 20vh;
    background-color: #000;
    text-align: center;
    opacity: 0.7;
    color: #00ffd5;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer a{
    text-decoration: none;
    color: #00ffd5;
    font-size: 25px;
    transition: all 0.5s;
}

.footer a:hover{
    scale: 2;
    color: #ffffff;
}

.footer .icons{
    display: flex;
    gap: 20px;
}

.footer .contact a:hover{
    font-weight: 600;    
}
