<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
    <div class="homepage" id="home">
        <div class="welcome-container">
            <video id="video-background" autoplay loop muted poster="poster.jpg">
                <!-- Replace 'video.mp4' with the path to your video file -->
                <source src="../static/images&videos/homebackground2.mp4" type="video/mp4" class="vidback2">
                <source src="../static/images&videos/homebackground.mp4" type="video/mp4" class="vidback">
            </video>
        </div>
        <section class="navbar">
            <!-- <a href="homepage.html"><img src="../static/images&videos/itechroots logo.jpg" alt=""></a>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">EVENTS</a></li>
                <li><a href="#">SPONSERS</a></li>
                <li><a href="#">Contact</a></li>
             </ul> -->


            <div class="nav">
                <input type="checkbox" id="nav-check">
                <div class="nav-header">
                    <div class="nav-title">
                        <a href="homepage.html"><img src="../static/images&videos/itechroots_logo.png" alt=""></a>
                    </div>
                </div>
                <div class="nav-btn">
                    <label for="nav-check">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>

                <div class="nav-links">
                    <a href="#home">HOME</a>
                    <a href="#about">ABOUT US</a>
                    <a href="#events">EVENTS</a>
                    <a href="#">SPONSERS</a>
                    <a href="#">CONTACT</a>
                </div>
            </div>
        </section>

        <section class="top_content" data-aos="zoom-in">
            <h1>ITECHROOTS 13.0 IS BACK</h1>
        </section>

        <section class="mid_content" id="about">
            <div class="mid_main">
                <div class="mid_text" data-aos="slide-right">
                    <h2>Itechroots</h2>
                    <h3>Technology is best when it brings people together.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit non, voluptate natus consequuntur
                        magnam corporis sunt eveniet modi quasi nemo vitae maiores blanditiis eius quam. Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Quod, libero.</p>
                </div>
                <div class="mid_intro" data-aos="slide-left">
                    <img src="../static/images&videos/computer.png" alt="">
                    <video src="../static/images&videos/intro.mp4" controls></video>
                </div>

            </div>
        </section>

        <div class="events">
            <section class="e_sports" id="events">
                <div class="content">
                    <h1 class="heading">E-Sports Events</h1>
                    <p class="description">Some Technical Events for gamming learning</p>
                    <a class="card" href="#!" data-aos="slide-right">
                        <div class="front" style="background-image: url(//source.unsplash.com/300x401)">
                            <p>Lorem ipsum dolor sit amet consectetur adipisi.</p>
                        </div>
                        <div class="back">
                            <div>
                                <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
                                <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
                                <button class="button">Click Here</button>
                            </div>
                        </div>
                    </a>
                    <a class="card" href="#!" data-aos="zoom-in">
                        <div class="front" style="background-image: url(//source.unsplash.com/300x402)">
                            <p>Lorem ipsum dolor sit amet consectetur adipisi.</p>
                        </div>
                        <div class="back">
                            <div>
                                <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
                                <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
                                <button class="button">Click Here</button>
                            </div>
                        </div>
                    </a>
                    <a class="card" href="#!" data-aos="slide-left">
                        <div class="front" style="background-image: url(//source.unsplash.com/300x403)">
                            <p>Lorem ipsum dolor sit amet consectetur adipisi.</p>
                        </div>
                        <div class="back">
                            <div>
                                <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
                                <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
                                <button class="button">Click Here</button>
                            </div>
                        </div>
                    </a>
                </div>
            </section>


            <section class="e_sports">
                <div class="content">
                    <h1 class="heading">Technical Events</h1>
                    <p class="description">Some Technical Events for gamming learning</p>
                    <a class="card" href="#!" data-aos="slide-right">
                        <div class="front" style="background-image: url(//source.unsplash.com/300x401)">
                            <p>Lorem ipsum dolor sit amet consectetur adipisi.</p>
                        </div>
                        <div class="back">
                            <div>
                                <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
                                <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
                                <button class="button">Click Here</button>
                            </div>
                        </div>
                    </a>
                    <a class="card" href="#!" data-aos="zoom-in">
                        <div class="front" style="background-image: url(//source.unsplash.com/300x402)">
                            <p>Lorem ipsum dolor sit amet consectetur adipisi.</p>
                        </div>
                        <div class="back">
                            <div>
                                <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
                                <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
                                <button class="button">Click Here</button>
                            </div>
                        </div>
                    </a>
                    <a class="card" href="#!" data-aos="slide-left">
                        <div class="front" style="background-image: url(//source.unsplash.com/300x403)">
                            <p>Lorem ipsum dolor sit amet consectetur adipisi.</p>
                        </div>
                        <div class="back">
                            <div>
                                <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
                                <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
                                <button class="button">Click Here</button>
                            </div>
                        </div>
                    </a>
                </div>
            </section>


            <!-- <section class="nontech_events">
                <div class="content">
                    <h1 class="heading">Technical Events</h1>
                    <p class="description">Some Technical Events for gamming learning</p>
                    <a class="card" href="#!" data-aos="slide-right">
                        <div class="front" style="background-image: url(//source.unsplash.com/300x401)">
                            <p>Lorem ipsum dolor sit amet consectetur adipisi.</p>
                        </div>
                        <div class="back">
                            <div>
                                <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
                                <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
                                <button class="button">Click Here</button>
                            </div>
                        </div>
                    </a>
                    <a class="card" href="#!" data-aos="zoom-in">
                        <div class="front" style="background-image: url(//source.unsplash.com/300x402)">
                            <p>Lorem ipsum dolor sit amet consectetur adipisi.</p>
                        </div>
                        <div class="back">
                            <div>
                                <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
                                <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
                                <button class="button">Click Here</button>
                            </div>
                        </div>
                    </a>
                    <a class="card" href="#!" data-aos="slide-left">
                        <div class="front" style="background-image: url(//source.unsplash.com/300x403)">
                            <p>Lorem ipsum dolor sit amet consectetur adipisi.</p>
                        </div>
                        <div class="back">
                            <div>
                                <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
                                <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
                                <button class="button">Click Here</button>
                            </div>
                        </div>
                    </a>
                </div>
            </section> -->
           
        </div>

        <section class="footer">
            <h2>ITECHROOTS</h2>
        </section>

    </div>




    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 200,
            duration: 1000
        });
    </script>
</body>

</html>